<div *ngIf="user" class="contient"> <!-- vérifie que user different de undifined donc different de false donc égal true -->
  <mat-card class="container">
    <mat-card-header fxLayoutAlign="space-between center">
      <div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle> {{ user.jobTitle }}</mat-card-subtitle>
      </div>
      <div>
        <a mat-icon-button href="" routerLink="create-post"><mat-icon>add_circle</mat-icon></a>
        <a mat-icon-button href="" routerLink="edit"><mat-icon>edit</mat-icon></a>
        <a mat-icon-button href="" ><mat-icon>delete</mat-icon></a>
        <a mat-icon-button href="" routerLink="posts"><mat-icon>message</mat-icon></a>
      </div>
    </mat-card-header>
    <img mat-card-image [src]="user.image" [alt] = "user.name" >
  </mat-card>

  <mat-card class="container">
    <router-outlet></router-outlet>
  </mat-card>

</div>
