.post-img {
    float:left;
    margin: 0 2em 2em 0;
}



mat-card {
    width: 50%;
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }